<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Imperium/public/

  # Exclude real files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite to index.html for SPA routing
  RewriteRule ^ index.html [L]
</IfModule>
