<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Imperium/public/

  # Exclude real files and directories from redirection
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect everything else to index.html
  RewriteRule ^(.*)$ /Imperium/public/index.html [L]
</IfModule> 