@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --text-blue: rgb(9, 43, 66);
  --nav-background: rgb(176, 223, 230, 0.3);
  --nav-border: rgba(233, 232, 232, 0.258);
  --nav-button-shadow: rgb(126, 173, 180, 0.7);
  --lavander-background: #efe1f9;
  --pink-blue-background: #f9e1f4;
  --blue-mist-background: #e1f0f9;
  --peach-cream-background: #f9f1e1;
  --body-background: #f5fafc;
  --purple-accent: #9a37d1;
  --purple-highlight: #d17cff;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: var(--body-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

ul, li, a {
  all: unset;
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
}

button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: none;
  box-shadow: none;
}

.content {
  margin-top: 5rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

h1 {
  font-size: clamp(4rem, 5vw, 20rem);
  color: var(--text-blue);
}

h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-blue);
  text-align: center;
}
@media only screen and (max-width: 650px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: bold;
  font-size: large;
  color: var(--text-blue);
}

.upper-bold {
  font-size: 1.5rem;
  font-weight: 900;
  color: whitesmoke;
}

.circle-button {
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset -1px 1px 3px 1px white;
  background-color: #edf2f5;
  transition: box-shadow 0.2s ease-out;
}
.circle-button:hover, .circle-button:focus {
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.3), inset -1px 1px 3px 2px white;
}

.filter-button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  padding-inline: 20px;
  font-weight: 800;
  background-color: #0075ff;
  border-radius: 5rem;
  color: var(--body-background);
  scale: 1;
  transition: scale 0.2s ease-out;
}
.filter-button:hover {
  background-color: #0037ff;
  scale: 1.05;
}

.cto-button {
  padding-block: 15px;
  padding-inline: 20px;
  box-sizing: border-box;
  background-color: var(--purple-accent);
  border: 2px solid var(--purple-highlight);
  color: var(--lavander-background);
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 1rem;
  position: relative;
  transition: scale 0.2s ease-out;
}
.cto-button:hover {
  scale: 1.05;
}
.cto-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 20px;
  background: rgba(248, 234, 255, 0.5);
  animation: button_highlight 3s ease infinite;
  transform: skew(-10deg);
}
.cto-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 10px;
  background: rgba(234, 195, 255, 0.5);
  animation: button_highlight 3s ease 0.1s infinite;
  transform: skew(-10deg);
}
@keyframes button_highlight {
  0% {
    opacity: 0;
    left: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    left: 90%;
  }
  100% {
    opacity: 0;
    left: 90%;
  }
}

.button-link {
  height: 70%;
  padding-inline: 20px;
  padding-block: 7px;
  border-radius: 10rem;
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset -1px 1px 3px 1px white;
  background-color: var(--nav-background);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transition: box-shadow 0.2s ease-out;
}
.button-link:hover, .button-link:focus {
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.3), inset -1px 1px 3px 2px white;
}

.floating-button {
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  z-index: 1000;
  bottom: 2%;
  right: 2%;
  padding: 10px;
  padding-left: 12px;
  transform: translateY(0);
  transition: transform 0.5s ease;
}

nav, .hamburger {
  width: 96%;
  box-sizing: border-box;
  height: 3.5rem;
  border: 2px solid var(--nav-border);
  background-color: var(--nav-background);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transform: translateY(0);
  transition: transform 0.5s ease;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 2%;
  border-radius: 5rem;
  z-index: 100;
}
nav .ham-button, .hamburger .ham-button {
  display: none;
}
@media only screen and (max-width: 975px) {
  nav #first-spacer, nav .hide-navbar-item, .hamburger #first-spacer, .hamburger .hide-navbar-item {
    display: none;
  }
  nav ul .ham-button, .hamburger ul .ham-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    padding-inline: 2px;
    transition: box-shadow 0.2s ease-out;
  }
  nav ul .ham-button:hover, nav ul .ham-button:focus, .hamburger ul .ham-button:hover, .hamburger ul .ham-button:focus {
    box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.3), inset -1px 1px 3px 2px white;
  }
}
nav ul, .hamburger ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
nav ul li, .hamburger ul li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li input, .hamburger ul li input {
  all: unset;
  box-sizing: border-box;
  height: 70%;
  border: 2px solid black;
  border-right: none;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  padding-left: 10px;
  background-color: var(--nav-border);
}
@media only screen and (max-width: 975px) {
  nav ul li input, .hamburger ul li input {
    width: 10rem;
    border: 1px solid black;
    border-right: none;
  }
}
nav ul li #search-button, .hamburger ul li #search-button {
  height: 70%;
  padding-inline: 5px;
  border: 2px solid black;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  cursor: pointer;
}
@media only screen and (max-width: 975px) {
  nav ul li #search-button, .hamburger ul li #search-button {
    border: 1px solid black;
  }
}
nav ul a, .hamburger ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav ul a .icon-name, .hamburger ul a .icon-name {
  margin-left: 0.2rem;
}
nav ul .spacer, .hamburger ul .spacer {
  margin-inline: 1rem;
  font-size: x-large;
}
nav .left-button-group, .hamburger .left-button-group {
  margin-left: 0.5rem;
}
nav .right-button-group, .hamburger .right-button-group {
  margin-right: 0.5rem;
}

.hamburger {
  top: 10%;
  left: 2%;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  gap: 1rem;
  border-radius: 30px;
  padding: 1rem;
}
.hamburger ul {
  flex-direction: column;
}
.hamburger ul .button-link {
  width: 10rem;
}
.hamburger .left-button-group {
  margin-left: 0;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  position: relative;
}
.hamburger .left-button-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  z-index: 100;
}
.hamburger .right-button-group {
  margin-right: 0;
  margin-bottom: 0.5rem;
}
.hamburger.hide-nav {
  display: none;
}

.carousel-wrapper-basic {
  width: 96%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  background-color: var(--peach-cream-background);
  margin-bottom: 3rem;
}
.carousel-wrapper-basic .carousel {
  width: 500%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.carousel-wrapper-basic .carousel .carousel-item {
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-wrapper-basic .carousel .carousel-item img {
  width: 60vw;
}
.carousel-wrapper-basic .left, .carousel-wrapper-basic .right {
  position: absolute;
  top: 45%;
  padding-inline: 12px;
  padding-block: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 750px) {
  .carousel-wrapper-basic .left, .carousel-wrapper-basic .right {
    scale: 0.7;
  }
}
.carousel-wrapper-basic .left {
  left: 1%;
}
.carousel-wrapper-basic .right {
  right: 1%;
}
.carousel-wrapper-basic .carousel-button-group {
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 750px) {
  .carousel-wrapper-basic .carousel-button-group {
    scale: 0.7;
  }
}
.carousel-wrapper-basic .carousel-button-group ul {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid var(--nav-border);
  border-radius: 20px;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: var(--nav-background);
}
.carousel-wrapper-basic .carousel-button-group ul button {
  height: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.carousel-wrapper-basic .carousel-button-group ul button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel-wrapper-basic .carousel-button-group ul .expand-button {
  width: 4rem;
}
.carousel-wrapper-basic .carousel-button-group ul .expand-button .fill-button {
  height: 100%;
  width: 0%;
  background-color: black;
  border-radius: 5px;
  animation: fill_btn_animation 5s linear forwards;
}
@keyframes fill_btn_animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-top: 3px solid grey;
}
footer .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  gap: 2rem;
}
footer .links ul {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .links ul li a {
  opacity: 0.8;
  transition: opacity 0.5 ease-out;
  cursor: pointer;
}
footer .links ul li a:hover {
  opacity: 1;
}
footer .links .title {
  font-size: large;
  font-weight: 800;
}
footer .links .contact {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
footer .links .contact .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
footer .links .contact .social-media a {
  transition: opacity 0.5s ease-out;
}
footer .policy {
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-top: 3px solid grey;
  opacity: 0.8;
}

.page-loader {
  margin-top: 10rem;
  animation: rotate 1s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.displace-hide {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.animate-in {
  opacity: 0;
  transform: translateY(20rem);
}/*# sourceMappingURL=global.css.map */