.hero {
  width: 96%;
  min-height: 90vh;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  background-color: var(--banner-background);
  border-radius: 20px;
  margin-bottom: 3rem;
}
.hero .left, .hero .right {
  width: 50%;
}
.hero .left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.hero .left .cto {
  margin-left: 10rem;
  padding-bottom: 5rem;
}
.hero .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .right .carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.hero .right .carousel-wrapper .carousel {
  width: 18.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.hero .right .carousel-wrapper .carousel .carousel-item-wrapper {
  width: 70%;
  min-width: 3rem;
  border: 2px solid var(--purple-highlight);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease-out;
  cursor: pointer;
}
.hero .right .carousel-wrapper .carousel .carousel-item-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.hero .right .carousel-wrapper .carousel .carousel-item-wrapper .carousel-item {
  width: 100%;
  transition: transform 1s ease !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .right .carousel-wrapper .carousel .carousel-item-wrapper .carousel-item img {
  width: 90%;
}
.hero .right .carousel-wrapper .carousel .carousel-item-wrapper .first-selected {
  transform: scale(7) translate(-70%, 40%);
}
@media only screen and (max-width: 975px) {
  .hero .right .carousel-wrapper .carousel .carousel-item-wrapper .first-selected {
    transform: scale(7) translate(-60%, 40%);
  }
}
@media only screen and (max-width: 975px) {
  .hero {
    flex-direction: column;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 2rem;
  }
  .hero .left, .hero .right {
    width: 100%;
  }
  .hero .left {
    justify-content: center;
    align-items: center;
  }
  .hero .left .cto {
    margin-inline: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 3rem;
}
.categories h2 {
  margin-top: 0;
}
.categories .category-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, 11rem);
  gap: 1rem;
}
@media only screen and (max-width: 650px) {
  .categories .category-wrapper {
    grid-template-columns: repeat(1, 20rem);
    grid-template-rows: repeat(4, 11rem);
  }
}
.categories .category-wrapper .category-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.categories .category-wrapper .category-item .background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
  scale: 1;
  transition: filter, scale 0.2s ease-out;
  cursor: pointer;
}
.categories .category-wrapper .category-item .background:hover {
  filter: grayscale(0);
  scale: 1.05;
}
.categories .category-wrapper .category-item .foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
}/*# sourceMappingURL=homepage.css.map */