.main{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    position: relative;
    .small-ham-button{
        border-radius: 10px;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }

    .filter-panel{
        width: 18rem;
        border-radius: 20px;
        box-sizing: border-box;
        padding-inline: 1rem;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
        background-color: var(--body-background);
        z-index: 50;
        .filter-header{
            display: flex;
            justify-content: space-between;
        }
        .price{
            display: flex;
            flex-direction: column;
            align-items: center;
            label{
                width: 100%;
                padding-block: 0rem;
                border: 0;
                &:hover{
                    background-color: inherit;
                }
            }
            .price-item{
                display: flex;
                justify-content: center;
                align-items: center;
                #min, #max{
                    width: 80px;
                    height: 30px;
                    border: 1px solid lightgrey;
                    border-radius: 5px;
                    font-size: 18px;
                }
            }

            .filter-button{
                margin-top: 1rem;
            }
        }

        fieldset{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            border: 2px solid lightgrey;
            border-inline: none;
            border-bottom: none;
            legend{
                font-weight: bold;
            }
            label{
                padding-block: 0.5rem;
                border-radius: 10px;
                transition: background-color 0.5s ease-out;
                opacity: 0.9;
                cursor: pointer;
                &:hover{
                    background-color: rgb(235, 235, 235);
                }
            }
        }
        @media only screen and (max-width: 900px){
            display: none;
            position: absolute;
            left: 0%;
            top: 0%;
            &.show-filters{
                display: block;
            }
            button{
                display: flex;
            }
        }    
    }
    
    .content-panel{
        width: 83%;
        margin-left: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
        .sorting-header{
            width: 100%;
            padding-inline: 1rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 20px;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
            .left{
                display: flex;
                align-items: center;
                justify-content: center;
                
                @media only screen and (max-width: 900px){
                    h3{
                        display: none;
                    }
                    button{
                        display: flex;
                    }
                }
            }
            .right{
                label{
                    display: inline;     
                    opacity: 0.8;
                }
                select{
                    box-sizing: border-box;
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                    font-size: medium;
                    cursor: pointer;
                }

                @media only screen and (max-width: 900px){
                    label{
                        display: none;
                    }
                    select{
                        font-size: small;
                    }
                }
            }
        }

        .cards{
            margin-top: 1rem;
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.5rem;
            .card-item{
                width: 15rem;
                height: 20rem;
                background-color: var(--peach-cream-background);
                border: 1px solid lightgrey;
                border-radius: 10px;
                @media only screen and (max-width: 900px){
                    width: 28vw;
                    height: 37.33vw;
                }
            }
        }

        .page-controls{
            width: 100%;
            margin-top: 2rem;
            display: flex;
            justify-content: center;

            .button-group{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                #page_nr{
                    font-size: 1.5rem;
                }
            }
        }

        @media only screen and (max-width: 900px){
            width: 100%;
            margin-left: 0;
        }
    }
}
